body {
  font-family: 'Montserrat', sans-serif;
  background-color: red;
  margin: 0;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 16px;
}
.wrapper {
  display: flex;
  flex-direction: row-reverse;
  min-width: 1048px;
  width: 1048px;
  justify-content: center;
  background-color: white;
}

aside {
  width: 35%;
  background: #1e2939;
  padding: 40px;
  font-size: 16px;
}
.margin-block {
  margin-top: 51px;
  list-style-position: inside;
}
.cv-photo {
  display: block;
  margin: 0 auto;
  width: 236px;
}
aside h2 {
  color: white;
}
aside h3 {
  margin: 0;
  color: white;
}
.contact-links {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  opacity: 0.5;
  color: white;
}
.bold {
  font-weight: 700;
  color: white;
  margin-right: 10px;
  font-size: 14px;
}
.linkedin {
  margin-top: 6px;
  display: flex;
  align-items: center;
}
.linkedin > a {
  margin-left: 10px;
}
.ico-linkedin {
  width: 24px;
  height: 24px;
  fill: white;
}

.list-stack {
  color: #fb6d3a;
  padding-left: 20px;
}
.list-stack span {
  color: white;
}

.list-secondary {
  color: #fb6d3a;
  padding-left: 0;
  line-height: 24px;
}
.list-secondary span {
  color: white;
}

main {
  width: 65%;
  padding: 64px 48px;
}

.main-description h2 {
  font-size: 24px;
}
.main-description h1 {
  width: 400px;
  font-size: 45px;
}
.description {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.project h2 {
  margin-bottom: 8px;
}
.links {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}
.links ol {
  margin: 0;
  padding-left: 16px;
}
.links a {
  color: #595959;
  font-weight: 400;
}
.links svg {
  margin-top: 17px;
  margin-bottom: 7px;
  margin-left: -50px;
}
.links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.links span {
  color: #595959;
  font-weight: 400;
}
.link-container {
  display: flex;
  justify-content: space-between;
}
.low-dash {
  color: #595959;
}
.github-profile {
  line-height: 32px;
}
.github-profile a {
  color: #595959;
  font-weight: 400;
}
.arrow-turn-down {
  margin-left: 10px;
  width: 16px;
  height: 16px;
}

.highlight {
  color: #fb6d3a;
}

.work-exp p {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
}
.work-exp {
  color: black;
  width: 509px;
}
.job-list {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding: 0;
  list-style-position: inside;
}
.education {
  color: black;
  width: 509px;
  margin-top: 43px;
}
.education p {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
}
.marks {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding: 0;
  list-style-position: inside;
}
