body {
    font-family: "Montserrat", sans-serif;
    background-color: aliceblue;
}
h2 {
    font-size: 22px;
}
h3 {
    font-size: 16px;
}
.wrapper {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    justify-content: center;
    margin: 0 auto;
    background-color: white;
    box-shadow: 6px 6px 20px 0px grey;
}

aside {
    width: 370px;
    background: #1e2939;
}
.cv-photo {
    margin-top: 25px;
}
aside h2 {
    color: white;
}
.contact-links {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    opacity: 0.5;
    color: white;
}
.bold {
    font-weight: 700;
    color: white;
    margin-right: 10px;
    font-size: 14px;
}
.list-secondary {
    color: #fb6d3a;
    padding-left: 0;
}
.list-secondary span {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.margin-block {
    margin-top: 51px;
    margin-left: 40px;
    list-style-position: inside;
}

main {
    padding: 102px 88px 102px 88px;
}
.main-description {
    width: 400px;
}
.main-description h2 {
    font-size: 14px;
}
.main-description h1 {
    font-size: 45px;
}
.description {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 40px;
}
.project {
    list-style-position: inside;
    margin-bottom: 51px;
}
.project h2 {
    margin-bottom: 8px;
}
.links {
    display: flex;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}
.links ol {
    margin: 0;
    padding-left: 0px;
}
.links a {
    color: #595959;
    font-weight: 400;
}
.links svg {
    margin-top: 17px;
    margin-bottom: 7px;
    margin-left: -50px;
}
.links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.links span {
    color: #595959;
    font-weight: 400;
}

.highlight {
    color: #fb6d3a;
}

.work-exp p {
    color: #a8a8a8;
    font-size: 12px;
    font-weight: 400;
}
.work-exp {
    color: black;
    width: 509px;
}
.job-list {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding: 0;
    list-style-position: inside;
}
.education {
    color: black;
    width: 509px;
    margin-top: 43px;
}
.education p {
    color: #a8a8a8;
    font-size: 12px;
    font-weight: 400;
}
.marks {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding: 0;
    list-style-position: inside;
}
